:root {
  --topbar-height: 50px;
}

* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg-white {
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
